@use '@angular/material' as mat;

.customized-card {
  @include mat.card-overrides((
    title-text-size: 3rem,
    title-text-weight: 700,
    elevated-container-shape: 10px,
    // elevated-container-color: orange,
    elevated-container-color: var(--mat-sys-tertiary-container),
  ))
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
